a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
a:hover{
  color:#EAF6F6;
}
body{
  color:#40514E;
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
hr{
  border-style: dotted none none;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 5%;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  line-height: 2;
}
p{
  line-height: 2;
}
.top-container{
  background-color: #EAF6F6;
  padding-top: 100px;
}
.middle-container{
  margin: 100px auto 100px auto;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.bottom-cloud{
  position: absolute;
  top:450px;
  left:350px;
}
.top-cloud{
  position:relative;
  left:300px;
}
.prof{
  border-radius: 50%;
  width: 15%;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 30%;
  margin: 40px auto 60px;
}
.skl1{
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skl2{
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left:30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.copy-right{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn-class {
	box-shadow: 0px 0px 0px -50px #ffffff;
	background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	background-color:#11cdd4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:17px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000504;
}
.btn-class:hover {
	background:linear-gradient(to bottom, #11999e 5%, #11cdd4 100%);
	background-color:#11999e;
}
.btn-class:active {
	position:relative;
	top:1px;
}
